# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# Android
.gradle/
android/local.properties
**/.cxx/

# iOS / macOS
**/Pods/
**/DerivedData/
**/Flutter/ephemeral/

# OS
.DS_Store
*.log
.metadata
devtools_options.yaml
